@model Rateable
@using MessageBoard.Auth

<div class="p-post-box mt-5">
  <div class="p-user-info p-2">
    <div class="d-flex justify-content-center">
        <img style="width: 125px; height: 125px"
        src='@($"/{Model.Author.GetAvatarPath()}")'
      />
    </div>
    <div class="mt-2 text-center" style="font-size: 0.8rem">
      @(Model.Author.IsDeleted ? "deleted-user" : Model.Author.Username)
    </div>

    <div class="mt-2 text-center" style="font-size: 0.8rem">
      Joined: @Model.Author.CreatedAt.ToShortDateString()
    </div>

    <div class="mt-2 text-center" style="font-size: 0.8rem">
      Posts: @Model.Author.Posts.Count
    </div>
  </div>

  <div class="d-flex flex-column flex-grow-1">
    <div class="d-flex justify-content-between p-2"
      style="border-bottom: 1px solid #777; font-size: 0.9rem"
    >
      <div>@Model.CreatedAt</div>
      <div>
        <partial name="_Rating" model="Model" />
        <span class="d-inline-block ms-3">#@ViewData["index"]</span>
      </div>
    </div>

    <div class="p-2 flex-grow-1">
      @Model.Content
    </div>

    @if (User.Identity.IsAuthenticated)
    {
      <div class="p-2 text-end">
        <a class="me-2" asp-route="ComplaintNew" asp-route-targetId="@Model.Id">
          Report</a>
        @if (ResourceHandler.IsAuthorized(User, Model.Author.Id) ||
          User.IsInRole("Moderator"))
        {
            <a class="text-decoration-none" asp-route="TopicEdit"
              asp-route-id="@Model.Id"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </a>

            <form class="d-inline-block" asp-route="TopicDelete"
              asp-route-id="@Model.Id"
            >
              <input type="hidden" name="_method" value="DELETE" />
              <button class="btn btn-secondary px-1 py-0">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
        }
      </div>
    }
  </div>
</div>
