@model Rateable

@{
  int sum = Model.Ratings.Sum(r => r.Value);
  if (sum < 0)
  {
    <text>@sum</text>
  }
  else if (sum > 0)
  {
    <text>+@sum</text>
  }
  else
  {
    <text>@sum</text>
  }

  @if (User.Identity.IsAuthenticated)
  {
    var rating = Model.Ratings.FirstOrDefault(r => r.Owner.Username == User.Identity.Name);
    int situation = 0;
    if (rating != null && rating.Value == 1)
    {
      situation = 1;
    }
    else if (rating != null)
    {
      situation = 2;
    }

    if (situation == 0)
    {
      <form class="d-inline-block" asp-route="RatingCreate" method="post">
        <input type="hidden" name="value" value="1" />
        <input type="hidden" name="targetId" value="@Model.Id" />
        <button class="p-positive-rating bg-transparent border-0">
          <i class="fa-solid fa-thumbs-up"></i>
        </button>
      </form>

      <form class="d-inline-block" asp-route="RatingCreate" method="post">
        <input type="hidden" name="value" value="-1" />
        <input type="hidden" name="targetId" value="@Model.Id" />
        <button class="p-negative-rating bg-transparent border-0">
          <i class="fa-solid fa-thumbs-down"></i>
        </button>
      </form>
    }
    else if (situation == 1)
    {
      <form class="d-inline-block"
        asp-route="RatingDelete" asp-route-id="@rating.Id"
        method="post"
      >
        <input type="hidden" name="_method" value="DELETE" />
        <button class="p-positive-rating bg-transparent border-0
          p-positive-rating-active"
        >
          <i class="fa-solid fa-thumbs-up"></i>
        </button>
      </form>

      <form class="d-inline-block"
        asp-route="RatingUpdate" asp-route-id="@rating.Id"
        method="post"
      >
        <input type="hidden" name="_method" value="PUT" />
        <input type="hidden" name="value" value="-1" />
        <button class="p-negative-rating bg-transparent border-0">
          <i class="fa-solid fa-thumbs-down"></i>
        </button>
      </form>
    }
    else if (situation == 2)
    {
      <form class="d-inline-block"
        asp-route="RatingUpdate" asp-route-id="@rating.Id"
        method="post"
      >
        <input type="hidden" name="_method" value="PUT" />
        <input type="hidden" name="value" value="1" />
        <button class="p-positive-rating bg-transparent border-0">
          <i class="fa-solid fa-thumbs-up"></i>
        </button>
      </form>

      <form class="d-inline-block"
        asp-route="RatingDelete" asp-route-id="@rating.Id"
        method="post"
      >
        <input type="hidden" name="_method" value="DELETE" />
        <button class="p-negative-rating bg-transparent border-0
          p-negative-rating-active"
        >
          <i class="fa-solid fa-thumbs-down"></i>
        </button>
      </form>
    }
  }
  else
  {
    <i class="fa-solid fa-thumbs-up"></i>
    <i class="fa-solid fa-thumbs-down"></i>
  }
}
