@section Title { Create user }

<div class="d-flex flex-column align-items-center justify-content-center h-100
  bg-dark text-light"
>
  <h1 class="fs-2">Create user</h1>

  <form class="w-50 p-4 mt-3" style="background: #15171a; box-shadow: 0 0 3px black"
    asp-route="UserCreate" method="post" enctype="multipart/form-data"
  >
    <div>
      <label>Username</label>
      <input class="text-light form-control" style="background: #111"
        name="username"
      />

      @if (ViewData.ModelState["Username"] != null &&
        ViewData.ModelState["Username"].Errors.Any())
      {
        @foreach (var error in ViewData.ModelState["Username"].Errors)
        {
          <div class="bg-danger mt-2 p-1">
            @error.ErrorMessage
          </div>
        }
      }
    </div>

    <div class="mt-3">
      <label>Email</label>
      <input class="text-light form-control" style="background: #111"
        name="email"
      />

      @if (ViewData.ModelState["Email"] != null &&
        ViewData.ModelState["Email"].Errors.Any())
      {
        @foreach (var error in ViewData.ModelState["Email"].Errors)
        {
          <div class="bg-danger mt-2 p-1">
            @error.ErrorMessage
          </div>
        }
      }
    </div>

    <div class="mt-3">
      <label>Password</label>
      <input type="password" class="text-light form-control"
        style="background: #111"
        name="password"
      />

      @if (ViewData.ModelState["Password"] != null &&
        ViewData.ModelState["Password"].Errors.Any())
      {
        @foreach (var error in ViewData.ModelState["Password"].Errors)
        {
          <div class="bg-danger mt-2 p-1">
            @error.ErrorMessage
          </div>
        }
      }
    </div>

    <div class="mt-3">
      <label>Password confirmation</label>
      <input type="password" class="text-light form-control" style="background: #111"
        name="passwordConfirmation"
      />

      @if (ViewData.ModelState["PasswordConfirmation"] != null &&
        ViewData.ModelState["PasswordConfirmation"].Errors.Any())
      {
        @foreach (var error in ViewData.ModelState["PasswordConfirmation"].Errors)
        {
          <div class="bg-danger mt-2 p-1">
            @error.ErrorMessage
          </div>
        }
      }
    </div>

    <div class="mt-3">
      <label>Avatar</label>
      <input type="file" class="text-light form-control" style="background: #111"
        name="avatar"
      />

      @if (ViewData.ModelState["Avatar"] != null &&
        ViewData.ModelState["Avatar"].Errors.Any())
      {
        @foreach (var error in ViewData.ModelState["Avatar"].Errors)
        {
          <div class="bg-danger mt-2 p-1">
            @error.ErrorMessage
          </div>
        }
      }
    </div>

    <div class="mt-5">
      <button class="btn btn-dark w-100">Create</button>
    </div>
  </form>
</div>
