@using System.Security.Claims;
@model User

@section Title { @(Model.Username)'s details }

<div class="d-flex flex-column align-items-center pt-5">
  <h1 class="fs-2 text-center mb-5">@Model.Username</h1>
  <img class="img-fluid" style="width: 150px" src='@($"/{Model.GetAvatarPath()}")' />
  <hr class="w-25" />
  <div>Joined: @Model.CreatedAt.ToShortDateString()</div>
  <div>Topics: @Model.Topics.Count</div>
  <div>Posts: @Model.Posts.Count</div>
  @if (User.Identity.IsAuthenticated &&
    User.FindFirst(ClaimTypes.NameIdentifier).Value == $"{Model.Id}")
  {
    <a asp-route="UserEdit" asp-route-id="@Model.Id">
      <i class="fa-solid fa-user-pen"></i>
      Edit details
    </a>
  }
</div>
